.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PERSONAL STYLING */
.filter {
    background-color: #D4D1DE;
}

a {
  text-decoration: none;
  /* color: white; */
}

.top-nav {
  padding: .5em 1em;
}

.nav-title {
  font-size: 2em;
}

.open-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sign-up-btn {
  margin-right: 1em;
}

.create-modal-btn {
  margin: 1em auto;
  display: block;
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 1em;
}

.show {
  margin-bottom: 1em;
}

.edit-delete-btns {
  display: flex;
  justify-content: center;
  background-color: #212529;
}

.card {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #C3C0CC;
}

.video {
  width: 100%;
  height: auto;
} 

.create-submit-btn, .edit-submit-btn {
  display: block;
  margin: 0 auto;
}

.logos-container {
  background-color: white;
  padding: .2em;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-logo {
  width: 30px;
  height: 30px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1em;
}

.footer-text {
  font-weight: 800;
  text-decoration: underline;
}

.our-social-sections-container {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.create-submit-btn, .edit-submit-btn {
  display: block;
  margin: 0 auto;
}

 body {
     background-color: #66656B;
 }

 .nav-btn {
     background-color: #D4D1DE;
 }

/*///// MEDIA QUERIES /////*/

@media (min-width: 992px) {
    .card {
        width: 60%;
    }
    /* .card-img {
        height: 500px;
    } */
    .video {
        height: 600px;
    }

}

